
body{
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
}

.sectionHome {
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    background-color:#ececec;
    width: 100vw;
    height: 10vh;
    margin: 0;
    display: grid;
    grid-template-columns: 20% 50%  20%;
    grid-template-rows: 100%;
    justify-content:center;
    overflow: hidden;
    position: fixed;
    z-index: 2;
    font-size: 30px;
    align-self: center;
}

header p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-top: 5px;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

.a {
    display: none;
  }

.a:hover {
    background: #979797;
    color: #ffffff;
}

.header img{
    height: 100%; 
    margin: 0;     
}

.photo img {
    border-radius: 100px;  
    width: 150px;  
    border-color: rgb(41, 169, 255);
    border-style: solid;
    position: absolute;
    top: 11%;
    left: 3%;
      
}

.uploader {
    display: none;
}

.box{
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 80%;   
}

.like{
    border: none;
}

.btnEdit{
    border: none;
}

.btnDelete{
    border: none; 
}

.containerPost  {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    width:70%;
    justify-content: end;
    align-items: flex-end;
    position: absolute;
    top: 12%;
    left: 25%;   
    display: flex;
    flex-direction: column ;
    background-color: lightslategrey;
    box-shadow: 0px 3px 7px 1px #616161;
    border: 1px solid #b4b4b4;
    border-radius: 20px;
}



.containerPost textarea{
    margin: auto;
    height: 80px;
    width: 98%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    background-color: rgba(252, 248, 225, 0) ;
    border-color: rgba(255, 255, 255, 0.45) ;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}

textarea::placeholder { color: rgb(255, 255, 255); }

.divenviar {
    display: grid;
    grid-template-columns: 30% 30% ;
    grid-template-rows: 100%;
    width: 100%;
    justify-content: end;
}

.btn {
    background-color: #ff468d00;
    border: none;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;    
}

.btn:hover{
    background: rgb(78, 78, 78)
}

.file {
    background-color: #ff468d00;
    color: white;
    cursor: pointer;
    padding: 12px ;
    font-size: 17px;
    border: none;
    text-align: center;
}

.file:hover{
    background: rgb(78, 78, 78) ;

}

.boxInformation{
    margin-top:-10px;
    padding: 1%;
    align-content: center;
    width: 100%; 
}

.card{
    background-color: #F5F3F3;
    margin: 10px 30px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 7px 1px #020202;
    border: 1px solid #ffffff;
    margin:auto;
    margin-top: 20px;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.card h1 {
    margin: 0;
    margin: 10px 30px 10px;
}

.card p {
    text-align: end;
    color: lightslategrey;
    font-size: 15px;
    margin: 0px 10px 0;
}
.card h2 {
    margin: 10px 30px 30px;
    text-align:justify;
    font-weight: normal;
    color: rgb(104, 105, 105);
}

#boxPosted{
    margin: auto;
    width:100%;
    grid-row:2;
}

.interaction{
    display: flex;
    flex-direction:inherit;
    align-items: center;
    align-content: center;
}


footer{
    left: 0;
    bottom: 0;
    background-color:#ececec;
    width: 100vw;
    height: 10vh;
    margin: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    justify-content: center;
    overflow: hidden;
    position: fixed;
}

footer a {
    float: right;
    display: block;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 25px;
  }

  footer a:hover {
    background: #979797;
    color: #ffffff;
}






/*PARA VISTA IPHONE*/
@media only screen  and (min-width:375px ) and (MAX-width:767px ) {

header{
    grid-template-columns: 20% 50% 20% ;   
    }

header p {
    font-size: 15PX;
    }

.photo img {
        border-radius: 100px; 
        width: 67px;  
    }


.box{
    grid-template-columns: 100%;
    grid-template-rows: 30% 70%;   
}

.file {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
}

.btn {
    font-size: 15px;   
}

.card{
    font-size: 12px;
}


   
.divenviar {
    grid-template-columns: 50% 50%;
    }


.card h1 {
    margin: 10px 30px 10px;
}

.card p {
    font-size: 10px;
    margin: 0px 10px 0;
}
.card h2 {
    margin: 10px 20px 20px;
}

footer a {
    font-size: 20px;
    padding: 5px;

}

}

























/*PARA VISTA DESKTOP*/
@media only screen  and (min-width:769px ) {
header{
    height: 10%;
    font-size: 20px;
    width: 100vw;
    margin: 0;
    grid-template-columns: 30% 40% 10% 10% 10%;
    grid-template-rows: 100%;   
}

header a {
    float:inline-end;
    display: block;
    color: #000000;
    text-align: center;
    align-content: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0px;
    padding-top: 5px;
    }

.a {
    display: block;
    }

header p{
    padding: 0px;
    padding-top: 5px;
};


header a:hover {
    background: #979797;
    color: #ffa32a;
      }

.header img{
    width: auto; 
}

.photo img {
    width:120px;
    left: 12%; 

}



.containerPost textarea{
    height: 40px;
    font-size: 15PX;
        
    }








.footer{
    display: none;
}

.perfilpost {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows:max-content;
    justify-content:center;
}

.homepost {
    display: grid;
    grid-template-columns:  50%;
    grid-template-rows:max-content;
    justify-content:center;
}


.card{
    box-shadow: 3px 3px 7px 1px #020202;
    border: 1px solid #ffffff;
    margin-top: 30px;
    width: 80%;
    }

.boxInformation{
    margin-top:-10px;
    padding: 1%;
    align-content: center;
    width: 100%; 
        }

.containerPost  {
left: 20%;
width: 60%;

}