

/*.likeButton{
    padding: 0;
    border: none;
    background: none;
    font-size: 30px;
    cursor:pointer;
    color:#7EB3DD;  
}
.like-container{
 display:flex;
 /* flex-direction: */
 /* justify-content: flex-start; */
}

