.containerFondo{
<<<<<<< HEAD
  background-image: url("images/popcorn11.jpg");
=======
  background-image: url("images/fondo1.png");
>>>>>>> 773357785092b8183827a84b1bae38a13968d95e
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; 
  width: 100%;
  margin: 0;
  position: fixed;
}

.containerDiv{
  display: flex;
  flex-flow: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  margin: auto ;
  width: 100%;
}

.div2{
  background-color: rgba(243, 244, 247, 0.9);
  box-shadow: 3px 3px 7px 1px #a0a4a7;
  padding: 30px;
  border-radius: 30px;

}
.logo{
  width: 70%;
}

.inputlogIn {
  /* filter: drop-shadow(1px 2px 2px gray); */
  border: 1px solid black;
  border-radius: 8px;
  margin: 4%;
  width: 80%;
  padding: 2%;
  font-size: 30px;
 
}

.textLogin{
  color: black;
  font-weight: bold;
  font-size: large;
}

.btnLogin{
  background-color: #FF1663;
  color: rgb(243, 241, 241);
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 10px;
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
} 

.btnIcon{
  width: 40px;
  border:0 none;
  padding-bottom: 5px;
}

#btnGoogle{
  border:0 none;
  cursor: pointer;
}



/* MODAL */
.modal-container {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.modal {
    font-family: "Jura", sans-serif;
    font-size: 20px;
    font-style: bold;
    width: 50%;
    height: 65%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
  
  }
  
  .close {
    position: absolute;
    top: 5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background: #FF1663;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .modal-close {
    transform: translateY(-200%);
  }
  
  .contentModal{
    display: flex;
  }

  .contentModal > div {
    width: 60%;
  }

  input[type=text], input[type=password], input[type=email] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

.contentModal h1{
    color: #38B6FF; 
    font-size: 40px;
   
}

.textModal {
  color: #EBC43B ;
  font-weight: bold;
  font-size: 30px;

}

.textInicioModal, .textFormModal{
  margin: 10px;
}

@media only screen  and (min-width:769px ) {
  .containerDiv{
    margin-left: 300px;
    height: 50px;
  }

  .logo{
<<<<<<< HEAD
    width: 70%;
=======
    width: 60%;
>>>>>>> 773357785092b8183827a84b1bae38a13968d95e
  }

  .containerFondo{
    background-image: url("images/loginFondo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
    width: 100%;
    margin: 0;
    position: fixed;
  }

}